<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de RPG de Mesa</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"> <!-- Altere para o caminho correto do CSS -->
</head>

<body>
    <header id="cabecalho">
        <nav class="menu">
            <ol>
                <li><a href="/">Pagina Principal</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ol>
        </nav>
    </header>

    <div class="container">
        <h1>Ficha de RPG de Mesa</h1>
        <div class="ficha">
            <div class="campo">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome">
            </div>
            <div class="campo">
                <label for="classe">Classe:</label>
                <input type="text" id="classe" name="classe">
            </div>
            <div class="campo">
                <label for="vida-total">Vida Total:</label>
                <input type="number" id="vida-total" name="vida-total">
            </div>
            <div class="campo">
                <label for="vida-atual">Vida Atual:</label>
                <input type="number" id="vida-atual" name="vida-atual">
            </div>
            <div class="campo">
                <label for="xp">XP Atual:</label>
                <input type="number" id="xp" name="xp">
            </div>
            <div class="campo">
                <button onclick="calcularNivel()">Calcular Nível</button>
            </div>
            <div class="resultado">
                <h2>Nível Calculado:</h2>
                <p id="nivel"></p>
            </div>
            <div class="campo">
                <label for="forca">Força:</label>
                <input type="number" id="forca" onchange="atualizarModificadores()">
                <span id="modificadorForca">Mod: 0</span>
            </div>
            <div class="campo">
                <label for="destreza">Destreza:</label>
                <input type="number" id="destreza" onchange="atualizarModificadores()">
                <span id="modificadorDestreza">Mod: 0</span>
            </div>
            <div class="campo">
                <label for="constituição">Constituição:</label>
                <input type="number" id="constituição" onchange="atualizarModificadores()">
                <span id="modificadorConstituicao">Mod: 0</span>
            </div>
            <div class="campo">
                <label for="inteligencia">Inteligência:</label>
                <input type="number" id="inteligencia" onchange="atualizarModificadores()">
                <span id="modificadorInteligencia">Mod: 0</span>
            </div>
            <div class="campo">
                <label for="sabedoria">Sabedoria:</label>
                <input type="number" id="sabedoria" onchange="atualizarModificadores()">
                <span id="modificadorSabedoria">Mod: 0</span>
            </div>
            <div class="campo">
                <label for="carisma">Carisma:</label>
                <input type="number" id="carisma" onchange="atualizarModificadores()">
                <span id="modificadorCarisma">Mod: 0</span>
            </div>
            <div class="campo">
                <label for="ca">Classe de Armadura (CA):</label>
                <span id="ca">0</span>
            </div>

            <h2>Perícias</h2>
            <div class="campo">
                <table id="tabelapericias">
                    <thead>
                        <tr>
                            <th>Perícia</th>
                            <th>Possui</th>
                            <th>Bônus</th>
                            <th>Treino</th>
                            <th>Total</th>
                            <th>Anotações</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <!-- Adicione as perícias abaixo -->
                        <tr>
                            <td>Acrobacia</td>
                            <td><input type="checkbox" id="possui-acrobacia" onchange="atualizarTotal('acrobacia')"></td>
                            <td><input type="number" id="bonus-acrobacia" value="0" onchange="atualizarTotal('acrobacia')"></td>
                            <td><input type="checkbox" id="treino-acrobacia" onchange="atualizarTotal('acrobacia')"></td>
                            <td><span id="total-acrobacia">0</span></td>
                            <td><input type="text" id="anotacao-acrobacia" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Cavalgar</td>
                            <td><input type="checkbox" id="possui-cavalgar" onchange="atualizarTotal('cavalgar')"></td>
                            <td><input type="number" id="bonus-cavalgar" value="0" onchange="atualizarTotal('cavalgar')"></td>
                            <td><input type="checkbox" id="treino-cavalgar" onchange="atualizarTotal('cavalgar')"></td>
                            <td><span id="total-cavalgar">0</span></td>
                            <td><input type="text" id="anotacao-cavalgar" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Furtividade</td>
                            <td><input type="checkbox" id="possui-furtividade" onchange="atualizarTotal('furtividade')"></td>
                            <td><input type="number" id="bonus-furtividade" value="0" onchange="atualizarTotal('furtividade')"></td>
                            <td><input type="checkbox" id="treino-furtividade" onchange="atualizarTotal('furtividade')"></td>
                            <td><span id="total-furtividade">0</span></td>
                            <td><input type="text" id="anotacao-furtividade" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Iniciativa</td>
                            <td><input type="checkbox" id="possui-iniciativa" onchange="atualizarTotal('iniciativa')"></td>
                            <td><input type="number" id="bonus-iniciativa" value="0" onchange="atualizarTotal('iniciativa')"></td>
                            <td><input type="checkbox" id="treino-iniciativa" onchange="atualizarTotal('iniciativa')"></td>
                            <td><span id="total-iniciativa">0</span></td>
                            <td><input type="text" id="anotacao-iniciativa" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Ladinagem</td>
                            <td><input type="checkbox" id="possui-ladinagem" onchange="atualizarTotal('ladinagem')"></td>
                            <td><input type="number" id="bonus-ladinagem" value="0" onchange="atualizarTotal('ladinagem')"></td>
                            <td><input type="checkbox" id="treino-ladinagem" onchange="atualizarTotal('ladinagem')"></td>
                            <td><span id="total-ladinagem">0</span></td>
                            <td><input type="text" id="anotacao-ladinagem" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Atletismo</td>
                            <td><input type="checkbox" id="possui-atletismo" onchange="atualizarTotal('atletismo')"></td>
                            <td><input type="number" id="bonus-atletismo" value="0" onchange="atualizarTotal('atletismo')"></td>
                            <td><input type="checkbox" id="treino-atletismo" onchange="atualizarTotal('atletismo')"></td>
                            <td><span id="total-atletismo">0</span></td>
                            <td><input type="text" id="anotacao-atletismo" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Identificar Magia</td>
                            <td><input type="checkbox" id="possui-magia" onchange="atualizarTotal('magia')"></td>
                            <td><input type="number" id="bonus-magia" value="0" onchange="atualizarTotal('magia')"></td>
                            <td><input type="checkbox" id="treino-magia" onchange="atualizarTotal('magia')"></td>
                            <td><span id="total-magia">0</span></td>
                            <td><input type="text" id="anotacao-magia" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Ofício</td>
                            <td><input type="checkbox" id="possui-oficio" onchange="atualizarTotal('oficio')"></td>
                            <td><input type="number" id="bonus-oficio" value="0" onchange="atualizarTotal('oficio')"></td>
                            <td><input type="checkbox" id="treino-oficio" onchange="atualizarTotal('oficio')"></td>
                            <td><span id="total-oficio">0</span></td>
                            <td><input type="text" id="anotacao-oficio" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Conhecimento</td>
                            <td><input type="checkbox" id="possui-conhecimento" onchange="atualizarTotal('conhecimento')"></td>
                            <td><input type="number" id="bonus-conhecimento" value="0" onchange="atualizarTotal('conhecimento')"></td>
                            <td><input type="checkbox" id="treino-conhecimento" onchange="atualizarTotal('conhecimento')"></td>
                            <td><span id="total-conhecimento">0</span></td>
                            <td><input type="text" id="anotacao-conhecimento" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Cura</td>
                            <td><input type="checkbox" id="possui-cura" onchange="atualizarTotal('cura')"></td>
                            <td><input type="number" id="bonus-cura" value="0" onchange="atualizarTotal('cura')"></td>
                            <td><input type="checkbox" id="treino-cura" onchange="atualizarTotal('cura')"></td>
                            <td><span id="total-cura">0</span></td>
                            <td><input type="text" id="anotacao-cura" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Intuição</td>
                            <td><input type="checkbox" id="possui-intuicao" onchange="atualizarTotal('intuicao')"></td>
                            <td><input type="number" id="bonus-intuicao" value="0" onchange="atualizarTotal('intuicao')"></td>
                            <td><input type="checkbox" id="treino-intuicao" onchange="atualizarTotal('intuicao')"></td>
                            <td><span id="total-intuicao">0</span></td>
                            <td><input type="text" id="anotacao-intuicao" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Percepção</td>
                            <td><input type="checkbox" id="possui-percepcao" onchange="atualizarTotal('percepcao')"></td>
                            <td><input type="number" id="bonus-percepcao" value="0" onchange="atualizarTotal('percepcao')"></td>
                            <td><input type="checkbox" id="treino-percepcao" onchange="atualizarTotal('percepcao')"></td>
                            <td><span id="total-percepcao">0</span></td>
                            <td><input type="text" id="anotacao-percepcao" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Sobrevivência</td>
                            <td><input type="checkbox" id="possui-sobrevivencia" onchange="atualizarTotal('sobrevivencia')"></td>
                            <td><input type="number" id="bonus-sobrevivencia" value="0" onchange="atualizarTotal('sobrevivencia')"></td>
                            <td><input type="checkbox" id="treino-sobrevivencia" onchange="atualizarTotal('sobrevivencia')"></td>
                            <td><span id="total-sobrevivencia">0</span></td>
                            <td><input type="text" id="anotacao-sobrevivencia" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Adestrar Animais</td>
                            <td><input type="checkbox" id="possui-animais" onchange="atualizarTotal('animais')"></td>
                            <td><input type="number" id="bonus-animais" value="0" onchange="atualizarTotal('animais')"></td>
                            <td><input type="checkbox" id="treino-animais" onchange="atualizarTotal('animais')"></td>
                            <td><span id="total-animais">0</span></td>
                            <td><input type="text" id="anotacao-animais" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Atuação</td>
                            <td><input type="checkbox" id="possui-atuacao" onchange="atualizarTotal('atuacao')"></td>
                            <td><input type="number" id="bonus-atuacao" value="0" onchange="atualizarTotal('atuacao')"></td>
                            <td><input type="checkbox" id="treino-atuacao" onchange="atualizarTotal('atuacao')"></td>
                            <td><span id="total-atuacao">0</span></td>
                            <td><input type="text" id="anotacao-atuacao" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Diplomacia</td>
                            <td><input type="checkbox" id="possui-diplomacia" onchange="atualizarTotal('diplomacia')"></td>
                            <td><input type="number" id="bonus-diplomacia" value="0" onchange="atualizarTotal('diplomacia')"></td>
                            <td><input type="checkbox" id="treino-diplomacia" onchange="atualizarTotal('diplomacia')"></td>
                            <td><span id="total-diplomacia">0</span></td>
                            <td><input type="text" id="anotacao-diplomacia" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Enganação</td>
                            <td><input type="checkbox" id="possui-engancacao" onchange="atualizarTotal('engancacao')"></td>
                            <td><input type="number" id="bonus-engancacao" value="0" onchange="atualizarTotal('engancacao')"></td>
                            <td><input type="checkbox" id="treino-engancacao" onchange="atualizarTotal('engancacao')"></td>
                            <td><span id="total-engancacao">0</span></td>
                            <td><input type="text" id="anotacao-engancacao" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Intimidação</td>
                            <td><input type="checkbox" id="possui-intimidacao" onchange="atualizarTotal('intimidacao')"></td>
                            <td><input type="number" id="bonus-intimidacao" value="0" onchange="atualizarTotal('intimidacao')"></td>
                            <td><input type="checkbox" id="treino-intimidacao" onchange="atualizarTotal('intimidacao')"></td>
                            <td><span id="total-intimidacao">0</span></td>
                            <td><input type="text" id="anotacao-intimidacao" placeholder="Notas..."></td>
                        </tr>
                        <tr>
                            <td>Obter Informação</td>
                            <td><input type="checkbox" id="possui-informacao" onchange="atualizarTotal('informacao')"></td>
                            <td><input type="number" id="bonus-informacao" value="0" onchange="atualizarTotal('informacao')"></td>
                            <td><input type="checkbox" id="treino-informacao" onchange="atualizarTotal('informacao')"></td>
                            <td><span id="total-informacao">0</span></td>
                            <td><input type="text" id="anotacao-informacao" placeholder="Notas..."></td>
                        </tr>
                        <!-- Adicione mais perícias conforme necessário -->
                    </tbody>
                </table>
            </div>

            <!-- Seção de Talentos e Magias -->
            <h2>Talentos e Magias</h2>
            <div class="campo">
                <textarea id="talentos-magias" name="talentos-magias"></textarea>
                
            </div>
        </div>
    </div>
        <script src="/js/ficha.js" defer></script> <!-- Vincula o JavaScript externo das funções de calculo -->
</body>

</html>