<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Link para o arquivo CSS -->
</head>
<body>
    <header id="cabecalho">
        <h1>Bem-vindo ao Jogo de RPG</h1>
        <nav class="menu">
            <ol>
                <li><a href="/login">Login</a></li>
                <li><a href="/cadastro">Cadastro</a></li>
                <li><a href="/ficha">Ficha de Personagem</a></li>
            </ol>
        </nav>
    </header>

    <div class="container">
        <h2>Descrição do Jogo</h2>
        <p>Bem-vindo ao nosso jogo de RPG! Aqui você pode criar e gerenciar seu personagem, explorar o mundo e participar de aventuras épicas.</p>
        <p>Faça login ou crie uma conta para começar!</p>
    </div>

    <footer>
        <p>&copy; 2024 Seu Jogo de RPG. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
