<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"> <!-- Altere para o caminho correto do CSS -->
</head>
<body>
    <header id="cabecalho">
        <h1>Bem-vindo ao RYI</h1>
    </header>
    <div class="container login-cadastro">
        <div class="form-container">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <div class="campo">
                    <label for="nome">Nome de Usuário:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="campo">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" name="senha" required>
                </div>
                <div class="campo">
                    <button type="submit">Entrar</button>
                </div>
                <div class="mensagem">
                    <!-- Exibe a mensagem de erro de login, caso haja -->
                    <% if (typeof mensagemErro !== 'undefined') { %>
                        <p class="erro"><%= mensagemErro %></p>
                    <% } %>
                </div>
            </form>
            <div class="link-troca">
                <p>Não tem uma conta? <a href="/cadastro">Cadastre-se aqui</a></p>
            </div>
        </div>
    </div>
</body>
</html>
